<div class="cinema">
  <div class="cinema-filter">
    <app-search class="search"
                [movies]="movies"
                (complete)="onSearchComplete($event)"
                (reset)="onResetFilter()">
    </app-search>
    <app-genre-filter [movies]="movies"
                      [genres]="genres"
                      (complete)="onSearchComplete($event)"
                      (reset)="onResetFilter()"></app-genre-filter>
  </div>
  <app-movies-list [movies]="movies" class="movies-list"></app-movies-list>
</div>
